{% extends 'base.html' %}
{% load static %}

{% block title %} Clone Twitter {% endblock %}
{% block extra-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainapp/style.css' %}">
{% endblock %}

{% block contents %}
<div class="sidenav">
    <div class="login-main-text">
        <h2>Twitter<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
{% if not user.is_authenticated %}
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form method="POST" action="{% url 'accountapp:login' %}"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <label>User E-Mail</label>
                        <input type="text" name="name" class="form-control" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name='password' class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-black">Login</button>
                    <a type="submit" class="btn btn-secondary" href="{% url 'accountapp:signup'%}">Register</a>
                    <a type="submit" class="btn btn-secondary" href="{% url 'postapp:post'%}">둘러보기</a>
                </form>
            </div>
        </div>
    </div>
{% endif %}
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <a type="submit" class="btn btn-secondary" href="{% url 'postapp:post'%}">트윗보기</a>
        </div>
    </div>
{% endblock %}